<% include partials/header %>

    <div class="container">
        <span id="title">Things To Do</span> <i class="fas fa-plus-circle buttonHead float-right"></i>
        <hr>
        <% if(!currentUser){ %>
            <span id="login">LOGIN</span>
        <% } else { %>
            <span><strong><%= currentUser.username %></strong></span>
            <span id="logout" class="float-right">LOGOUT</span>
        <% } %>
        <hr>
        <% if(error && error.length>0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <hr>
        <% } %>
        <% if(success && success.length>0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <hr>
        <% } %>
        <ul>
            <% todos.forEach(todo => { %>
                <% if(currentUser && todo.owner.id.equals(currentUser._id)) { %>
                    <li>
                        <span id="<%= todo._id %>">
                            <% if (todo.priority === 1){  %>
                                <i class="fas fa-radiation-alt  prioHigh"></i>
                            <% } %>
                            <% if (todo.priority === 2){  %>
                                <i class="fas fa-exclamation-triangle prioHigh"></i>
                            <% } %>
                            <% if (todo.priority === 3){  %>
                                <i class="far fa-bell"></i>
                            <% } %>
                            <% if (todo.priority === 4){  %>
                                <i class="fab fa-angellist"></i>
                            <% } %>
                            <% if (todo.priority === 5){  %>
                                <i class="fas fa-couch"></i>
                            <% } %>
                            <%= todo.item %><i class="fas fa-trash-alt prioHigh float-right"></i>
                        </span>
                        <p><%= todo.description %></p>
                    </li>
                <% }; %>
            <% }); %>
        </ul>
    </div>

<% include partials/footer %>